---
import ModalBooths from "../../../components/ModalBooths.astro";
import ModalVideo from "../../../components/ModalVideo.astro";
import ModalForm from "../../../components/ModalForm.astro";
import BoothLayout from "../../../layouts/BoothLayout.astro";
const booth = {
  image: "abacenters.webp",
  btn1: "brochure.webp",
  btn2: "faq.webp",
  btn3: "jobs.webp",
  btn4: "events.webp",
  btn5: "contact.webp"
};
const wpuploads = import.meta.env.WP_UPLOADS;
---

<BoothLayout title="ABA Centers of America" description="ABA Centers of America provides ABA therapy services for anyone with autism spectrum disorder. We can help clients in the home, clinic, school, community, or any environment.">
  <section class="section banner-booth abacenters">
    <div class="is-overlay"></div>
    <div class="container has-text-white">
      <div class="columns is-centered">
        <div class="column is-6 has-text-centered">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 600 780"
          >
            <image
              width="600"
              height="780"
              xlink:href={"/img/booths-bg/" + booth.image}
            />

            <a
              href="javascript:void(0)"
              class="modal-trigger video"
              data-target="modal-video"
            >
              <rect
                x="134"
                y="52"
                fill="#fff"
                opacity="0"
                width="395"
                height="255"></rect>
            </a>

            <!-- Brochure -->
            <a
              href="/docs-booths/ABA-Therapy-Brochure.pdf"
              target="_blank"
              class="brochure"
            >
              <image
                x="100"
                y="530"
                xlink:href={"/img/booths-pics/" + booth.btn1}
              />
            </a>

            <!-- FAQ -->
            <a
              href="https://www.abacenters.com/aba-faq"
              target="_blank"
              class="faq"
            >
              <image
                x="315"
                y="530"
                xlink:href={"/img/booths-pics/" + booth.btn2}
              />
            </a>

            <!-- Jobs -->
            <a
              href="https://www.abacenters.com/careers-in-aba"
              target="_blank"
              class="modal-trigger jobs"
            >
              <image
                x="100"
                y="610"
                xlink:href={"/img/booths-pics/" + booth.btn3}
              />
            </a>

            <!-- Events -->
            <a
              href="https://www.abacenters.com/events/#appointment"
              target="_blank"
              class=" events"
             
            >
              <image
                x="315"
                y="610"
                xlink:href={"/img/booths-pics/" + booth.btn4}
              />
            </a>

            <a
            href="javascript:void(0)"
            class="modal-trigger contact"
            data-target="modal-booth"
            data-content="contact"
          >
            <image
              x="205"
              y="690"
              xlink:href={"/img/booths-pics/" + booth.btn5}
            />
          </a>
          </svg>
        </div>
      </div>
    </div>

    <div class="has-text-centered mt-5">
      <a href="/en" class="button is-light is-rounded is-outlined is-large"
        >Go back to Fair</a
      >
    </div>
  </section>

  <ModalBooths />

  <ModalVideo videoID="shI54QsbWpI" />

  <div id="contact" class="is-hidden content">
    <h3>Helping Families Create Their Future</h3>
    <div class="block is-size-5">
      <p>Call Now for a Free Confidential Consultation</p>
      <p><a href="tel:8449234222">(844) 923-4222</a></p>
      <p><a href="tel:8449094222">(844) 909-4222</a></p>
      <p><a href="tel:8449624222">(844) 962-4222</a></p>
    </div>
  </div>
</BoothLayout>
