---
import ModalBooths from "../../../components/ModalBooths.astro";
import ModalVideo from "../../../components/ModalVideo.astro";
import ModalForm from "../../../components/ModalForm.astro";
import BoothLayout from "../../../layouts/BoothLayout.astro";
const booth = {
  image: "joslin.webp",
  btn1: "brochure.webp",
  btn2: "jobs.webp",
  btn3: "events.webp",
  btn4: "contact.webp",
  btn5: null,
};
const wpuploads = import.meta.env.WP_UPLOADS;
---

<BoothLayout title="The Dimock Center" description="">
  <section class="section banner-booth joslin">
    <div class="is-overlay"></div>
    <div class="container has-text-white">
      <div class="columns is-centered">
        <div class="column is-6 has-text-centered">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 600 780"
          >
            <image
              width="600"
              height="780"
              xlink:href={"/img/booths-bg/" + booth.image}
            />

            <a
              xlink:href="javascript:void(0)"
              class="modal-trigger video"
              data-target="modal-video"
            >
              <rect
                x="120"
                y="49"
                fill="#fff"
                opacity="0"
                width="413"
                height="266"></rect>
            </a>

            <!-- Brochure -->
            <a
              xlink:href="/docs-booths/Reducing_Complications_English.pdf"
              target="_blank"
              class="brochure"
            >
              <image
                x="75"
                y="575"
                xlink:href={"/img/booths-pics/" + booth.btn1}
              />
            </a>

            <!-- Empleos -->
            <a
              xlink:href="https://joslin.org/careers"
              target="_blank"
              class="jobs"
            >
              <image
                x="295"
                y="575"
                xlink:href={"/img/booths-pics/" + booth.btn2}
              />
            </a>

            <!-- Events -->
            <a
              xlink:href="https://joslin.org/classes-events?listPage=1"
              target="_blank"
              class="modal-trigger events"
            >
              <image
                x="75"
                y="660"
                xlink:href={"/img/booths-pics/" + booth.btn3}
              />
            </a>

            <!-- Contacto -->
            <a
              xlink:href="javascript:void(0)"
              class="modal-trigger contact"
              data-target="modal-booth"
              data-content="contact"
            >
              <image
                x="295"
                y="660"
                xlink:href={"/img/booths-pics/" + booth.btn4}
              />
            </a>

            <!-- <a xlink:href="#contacto">
                     <rect
                        x="205"
                        y="716"
                        fill="#fff"
                        opacity="0"
                        width="164"
                        height="54"></rect>
                  </a> -->
          </svg>
        </div>
      </div>
    </div>

    <div class="has-text-centered mt-5">
      <a href="/en" class="button is-light is-rounded is-outlined"
        >Go back to Fair</a
      >
    </div>
  </section>

  <ModalBooths />

  <ModalVideo videoID="https://youtu.be/PKAklE5XIxk" />

  <div id="contact" class="is-hidden">
    <p><big>Thank you for your interest in Joslin Diabetes Center.</big></p>
    <p>To schedule an appointment, please call:</p>
    <p>
      Adult Clinic: <a href="tel:1-617-309-2440">617-309-2440</a><br />
      Pediatric Clinic: <a href="tel:1-617-732-2603">617-732-2603</a>
      <br />
      Ophthalmology: <a href="tel:1-617-309-2552">617-309-2552</a>
    </p>
  </div>
</BoothLayout>
