---
import ModalBooths from "../../../components/ModalBooths.astro";
import ModalVideo from "../../../components/ModalVideo.astro";
import BoothLayout from "../../../layouts/BoothLayout.astro";
const booth = {
   image: "madrc.webp",
   btn1: "brochure.webp",
   btn2: "events.webp",
   btn3: "volunteer.webp",
   btn4: "contact.webp",
};
const wpuploads = import.meta.env.WP_UPLOADS;
---

<BoothLayout
   title="Massachusetts Alzheimer's Disease Reasearch Center"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section banner-booth madrc-en">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />
                  <!-- Video -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger video"
                     data-target="modal-video"
                  >
                     <rect
                        x="115"
                        y="50"
                        fill="#fff"
                        opacity="0"
                        width="413"
                        height="266"></rect>
                  </a>

                  <image
                     x="160"
                     y="465"
                     width="270"
                     height="80"
                     xlink:href="/img/booths-pics/MADRC_Logo.webp"
                  />

                  <!-- Brochure -->
                  <a
                     xlink:href={wpuploads +
                        "/2023/11/Symptomatic-Prevention-Flyers.pdf"}
                     target="_blank"
                     class="brochure"
                  >
                     <image
                        x="85"
                        y="575"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- Events -->
                  <a
                     xlink:href="https://www.madrc.org/events/"
                     target="_blank"
                     class="events"
                  >
                     <image
                        x="305"
                        y="575"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Voluntariado -->
                  <a
                     xlink:href={wpuploads + "/2023/11/MAC-Flyer-Ingles.pdf"}
                     target="_blank"
                     class="volunteer"
                  >
                     <image
                        x="85"
                        y="660"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>

                  <!-- Contact -->
                  <a
                     xlink:href="#contacto"
                     class="modal-trigger contact"
                     data-target="modal-booth"
                     data-content="contacto"
                  >
                     <image
                        x="305"
                        y="660"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <!-- <a xlink:href="#contacto">
                     <image
                        x="195"
                        y="716"
                        xlink:href={"/img/booths-pics/" + booth.btn5}
                     />
                  </a> -->
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/en" class="button is-light is-rounded is-outlined"
            >Go back to Fair</a
         >
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="https://youtu.be/49hq_5UTr_g" />

   <div id="contacto" class="is-hidden">
      <p>
         To reach the MADRC team by phone, call <a href="tel:+16172780600"
            >617-278-0600</a
         >
      </p>
      <p>
         For information on our community programs/events or our research
         studies
      </p>
      <p>
         Paola Garza<br />
         <a href="tel:+1617-643-5250">617-643-5250</a> o <a
            href="mailto:agarza3@mgb.org"
            target="_blank"
            rel="noopener">agarza3@mgb.org</a
         >
      </p>
   </div>
</BoothLayout>
