---
import ModalBooths from "../../../components/ModalBooths.astro";
import ModalForm from "../../../components/ModalForm.astro";
import ModalVideo from "../../../components/ModalVideo.astro";
import BoothLayout from "../../../layouts/BoothLayout.astro";
const booth = {
   image: "united-health-care.webp",
   btn1: "brochure.webp",
   btn2: "jobs.webp",
   btn3: "resources.webp",
   btn4: "events.webp",
   btn5: "contact.webp",
};
---

<BoothLayout
   title="United Health Care"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section banner-booth">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />
                  <!-- Video -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger"
                     data-target="modal-video"
                  >
                     <rect
                        x="100"
                        y="54"
                        fill="#fff"
                        opacity="0"
                        width="413"
                        height="266"></rect>
                  </a>

                  <!-- Brochure -->
                  <a
                     xlink:href="https://myhealthfair.com/wp-content/uploads/2024/03/2024-English-BRC-PDF.pdf"
                  >
                     <image
                        x="80"
                        y="565"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- Empleos -->
                  <a
                     xlink:href="https://careers.unitedhealthgroup.com/job-search-results/"
                     target="_blank"
                  >
                     <image
                        x="300"
                        y="565"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Recursos -->
                  <a xlink:href="#recursos">
                     <image
                        x="80"
                        y="640"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>

                  <!-- Eventos -->
                  <a xlink:href="#events">
                     <image
                        x="300"
                        y="640"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger"
                     data-target="modal-form"
                  >
                     <image
                        x="195"
                        y="716"
                        xlink:href={"/img/booths-pics/" + booth.btn5}
                     />
                  </a>
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/" class="button is-light is-rounded is-outlined"
            >Go back to Fair</a
         >
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="https://youtu.be/UUzn_J_NUzI" />

   <ModalForm
      to="evelyn_sandoval@uhc.com,sharon.castillo@uhc.com"
      subject="Booth United Health Care - Web Form"
   >
      <div class="has-text-centered">
         <h3 class="title">
            Phone: <a href="tel:+1866-325-4811" class="has-text-link"
               >866-325-4811</a
            >
         </h3>
      </div>
   </ModalForm>

</BoothLayout>
