
@import "bulma";


:root {
  --bulma-primary-h: 24;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 51%;

  --bulma-info-h: 202;
  --bulma-info-s: 82%;
  --bulma-info-l: 49%;

  --bulma-navbar-height: 4.2rem;

}

a.navbar-item.is-active{
  --bulma-navbar-item-selected-h: var(--bulma-info-h);
  --bulma-navbar-item-selected-s: var(--bulma-info-s);
  --bulma-navbar-item-selected-l: var(--bulma-info-l);

  --bulma-navbar-item-selected-background-l: var(--bulma-info-l)
}

.title {
  --bulma-title-weight: var(--bulma-weight-semibold)
}

.theme-light, [data-theme="light"] {
  --bulma-family-primary: 'DM Sans Variable',
    sans-serif;
    --bulma-family-secondary: 'DM Sans Variable',
      sans-serif;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    transition: all .8s;
  }
}