@import "bulma";

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #FE8D19;
  --bulma-primary-h: 24;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 51%;

  --bulma-info-h: 202;
  --bulma-info-s: 82%;
  --bulma-info-l: 49%;

  --bulma-navbar-height: 5.3rem;

  --plyr-color-main: var(--primary)

}

a.navbar-item.is-active {
  --bulma-navbar-item-selected-h: var(--bulma-info-h);
  --bulma-navbar-item-selected-s: var(--bulma-info-s);
  --bulma-navbar-item-selected-l: var(--bulma-info-l);

  --bulma-navbar-item-selected-background-l: var(--bulma-info-l)
}

a.logo.navbar-item:hover {
  background: transparent;
}

.navbar-item {
  font-size: 1.1em;
}

.logo img {
  max-height: 70px;
}

.title {
  --bulma-title-weight: 500;
  --bulma-text-strong: #555;
}

.modal {
  --bulma-modal-card-head-padding: .5rem;
  --bulma-modal-card-body-padding: 1rem;
  transition: all .3s;
}

.modal-card {
  --bulma-modal-content-width: 570px
}

.theme-light,
[data-theme="light"] {
  --bulma-family-primary: 'DM Sans Variable',
    sans-serif;
  --bulma-family-secondary: 'DM Sans Variable',
    sans-serif;
}


.banner-booth {
  background: url("../images/mhf-closeup.webp") center / cover no-repeat;
  position: relative;
}

.is-overlay {
  background-color: #0577b5d1;
}

.booth-page svg {
  border-radius: 20px;
}

.booth-page a image,
.booth-page a rect {
  transition: all 0.3s;
}

.booth-page a rect:hover {
  opacity: 0.15;
}

.booth-page a image:hover {
  filter: drop-shadow(0 0 3px var(--primary));
}

@media (max-width: 575px) {
  .navbar.is-fixed-top {
    position: initial;
  }

  .navbar-menu.is-active {
    position: absolute;
    width: 100%;
    z-index: 999;
    animation: show-navbar-menu 0.3s;
  }

  @keyframes show-navbar-menu {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .navbar-dropdown {
    display: none;
    transition: all .2s
  }

  .navbar-dropdown.is-active {
    display: block;
  }
}