---
import VendorForm from "../../components/VendorForm.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
   title="Conviértete en un Expositor"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section">
      <div class="container my-6">
         <div class="columns is-centered">
            <div class="column is-10">
               <div class="content">
                  <p>
                     If you are interested in learning more about My Health Fair
                     Vendor/Sponsor , please submit your information to us by
                     completing the form below.
                  </p>

                  <p>
                     We respect your privacy and will not share your information
                     with a third party.
                  </p>

                  <VendorForm />
               </div>
            </div>
         </div>
      </div>
   </section>
</PageLayout>
