---
import HomeLayout from "../../layouts/HomeLayout.astro";

import HomeFeria from "../../components/HomeFeria.astro";
import HomeCarrusel from "../../components/HomeCarrusel.astro";
import HomeBlog from "../../components/HomeBlog.astro";
import HomePartners from "../../components/HomePartners.astro";

import "flickity/dist/flickity.min.css";
import HomeVideos from "../../components/HomeVideos.vue";
---

<HomeLayout
  title="MyHealthFair - Massachussets"
  description="We help you get medical help in Boston, Massachusetts by connecting you with the health organizations you need, 365 days a year."
>
  <HomeFeria />

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column is-8">
          <h2 class="title has-text-weight-semibold is-4 has-text-centered">
            <span class="has-text-primary has-text-weight-bold"
              >My Health Fair</span
            > is a 365 days a year digital health fair that gives you access to information
            directly from health organizations and experts, in your language.
          </h2>
        </div>
      </div>
    </div>
  </section>

  <!-- <HomeCats /> -->

  <HomeVideos lang="en" client:load/>

  <HomeCarrusel />

  <HomeBlog />

  <HomePartners />
</HomeLayout>
