---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
   title="MyHealthFair - Privacy Policy"
   description="Privacy Policy MyHealthFair Massachusetts"
>
   <section class="section">
      <div class="container my-6">
         <div class="columns is-centered">
            <div class="column is-10">
               <h2 class="title is-2 is-spaced has-text-centered">
                  Editorial Policy
               </h2>

               <div class="content">
                  <p>
                     Articles published on the Myhealthfair.com blog are not a
                     substitute for medical advice and should not be construed
                     as medical advice, diagnosis, or opinion.
                  </p>

                  <p>
                     The information provided on the Myhealthfair.com website,
                     blog, and videos is not intended to be a substitute for
                     professional medical advice, diagnosis, or medical opinion.
                  </p>

                  <p>
                     Please consult with your physician before making any
                     changes to your health regimen.
                  </p>

                  <p>
                     Our content is mainly oriented to disseminate the
                     information offered by our providers and that is available
                     to the community.
                  </p>

                  <p>
                     We do not accept advertising that conflicts with our
                     mission. Any advertising from us will be labeled to be
                     separate from medical content.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
</PageLayout>
