---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="MyHealthFair - Sitemap" description="Sitemap MyHealthFair Massachusetts">
  <section class="section">
    <div class="container my-6">
      <div class="columns">
        <div class="column is-6">
          <h2 class="title is-3 is-spaced has-text-centered">SECTIONS</h2>

          <div class="content is-size-5">
            <p>
              <a href="/en">Home</a>
            </p>
            <p>
              <a href="/en/about">Acerca de</a>
            </p>
            <p>
              <a href="/en">Virtual Fair</a>
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/all-of-us"
                  >All of Us Research Program</a
                ></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/booths/en/alzheimer-assoc">
                  Alzheimer's Association
                </a></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/dana-farber"
                  >Dana-Farber Cancer Institute</a
                ></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/joslin"
                  >Joslin Diabetes Center</a
                ></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/mass-health">
                  Mass Health Redetermination
                </a></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/helpline-mass">
                  Mass Help Line
                </a></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/madrc">
                  Massachusetts Alzheimer's Disease Reasearch Center
                </a></span
              >
            </p>
            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a style="color: #00aae7;" href="/en/booths/project-bread"
                  >Project Bread</a
                ></span
              >
            </p>

            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a
                  style="color: #00aae7;"
                  href="/en/booths/united-health-care"
                >
                  United Health Care
                </a></span
              >
            </p>

            <p style="padding-left: 40px;">
              <span style="font-size: 90%; color: #00aae7;"
                ><a
                  style="color: #00aae7;"
                  href="/en/booths/whittier-desktop-esp"
                  >Whittier Street Health Center</a
                ></span
              >
            </p>

            <p>
              <a href="/en/vblog/">VBlog</a>
            </p>
            <p>
              <a href="/en/contact/">Contact</a>
            </p>
            <p>
              <a href="en/resources/">Resources</a>
            </p>
          </div>
        </div>

        <div class="column is-6">
          <h2 class="title is-3 is-spaced has-text-centered">BLOG</h2>

          <div class="content is-size-5">
            <p>
              <a href="/en/category/about-us/">About Us</a>
            </p>
            <p>
              <a href="/en/category/chronic-diseases/">Chronic diseases</a>
            </p>
            <p>
              <a href="/en/category/clinical-studies/">Clinical Studies</a>
            </p>
            <p>
              <a href="/en/category/health-insurance/">Health insurance</a>
            </p>
            <p>
              <a href="/en/category/job-opportunities/">Job Opportunities</a>
            </p>
            <p>
              <a href="/en/category/mental-health/">Mental health</a>
            </p>
            <p>
              <a href="/en/category/one-minute-of-health/"
                >One minute of Health</a
              >
            </p>
            <p>
              <a href="/en/category/social-services/">Social services</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
