---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import picContact from "../images/pic-contact.webp";
import ContactForm from "../components/ContactForm.astro";
---

<PageLayout title="MyHealthFair - Contacto" description="Contáctenos para más información - Feria de Salud Massachusetts - MyHealthFair">
   <section class="section">
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-5">
               <figure class="image">
                  <Image src={picContact} alt="Contacto" />
               </figure>
            </div>

            <div class="column is-5 is-offset-1 py-6">

               <ContactForm />
               
            
            </div>
         </div>

      </div>
   </section>
</PageLayout>
<style>
   .banner {
      background: url("../images/banner-about.webp") center / cover no-repeat;
      position: relative;
   }

   .is-overlay {
      background-color: #0577b5d1;
   }
</style>
