---
import HomeLayout from "../layouts/HomeLayout.astro";

import HomeFeria from "../components/HomeFeria.astro";
import HomeCats from "../components/HomeCats.astro";
import HomeCarrusel from "../components/HomeCarrusel.astro";
import HomeBlog from "../components/HomeBlog.astro";
import { Image } from "astro:assets";
import emb_header from "../images/emb-header.webp";

import "flickity/dist/flickity.min.css";
import HomeVideos from "../components/HomeVideos.astro";
---

<HomeLayout
  title="Feria de Salud - Massachussets"
  description="Te ayudamos a conseguir ayuda médica en Boston, Massachusetts, poniéndote en contacto con las organizaciones de salud que necesitas, los 365 días del año."
>
  <HomeFeria />

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <h2 class="title has-text-weight-semibold is-4 has-text-centered">
            <span class="has-text-primary has-text-weight-bold"
              >My Health Fair</span
            > es una feria de salud digital disponible los 365 días del año que le
            brinda acceso a información directa de organizaciones y expertos en salud,
            en Español.
          </h2>
        </div>
      </div>
    </div>
  </section>

  <!-- <HomeCats /> -->

  <HomeVideos />

  <HomeCarrusel />

  <section class="section is-medium pt-6 is-hidden-touch">
    <div class="has-text-centered">
      <a href="https://elmundoboston.com" target="_blank">
        <Image src={emb_header} alt="El Mundo Boston" />
      </a>
    </div>
  </section>

  <HomeBlog />
</HomeLayout>
