---
import HomeLayout from "../layouts/HomeLayout.astro";

import HomeFeria from "../components/HomeFeria.astro";
import HomeCats from "../components/HomeCats.astro";
import HomeCarrusel from "../components/HomeCarrusel.astro";
import { Image } from "astro:assets";
import mapaRuta from "../images/maparuta.webp";

import "flickity/dist/flickity.min.css";
---

<HomeLayout title="Feria de Salud - Massachussets" description="">

	<HomeFeria />

	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-8">
					<h2
						class="title has-text-weight-semibold is-4 has-text-centered"
					>
						<span class="has-text-primary has-text-weight-bold"
							>My Health Fair</span
						> es una feria de salud digital disponible los 365 días del año
						que le brinda acceso a información directa de organizaciones y
						expertos en salud, en Español.
					</h2>
				</div>
			</div>
		</div>
	</section>

	<HomeCats />

	<section class="section">
		<div class="container has-text-centered">
			<Image src={mapaRuta} alt="" />
		</div>
	</section>

	<HomeCarrusel />
</HomeLayout>


