---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
   title="Politica de privacidad"
   description="Politica de privacidad - Feria de Salud Massachusetts - MyHealthFair"
>
   <section class="section">
      <div class="container my-6">
         <div class="columns is-centered">
            <div class="column is-10">
               <h2 class="title is-2 is-spaced has-text-centered">
                  POLITICA EDITORIAL
               </h2>

               <div class="content">
                  <p>
                     Los artículos publicados en el blog Myhealthfair.com no
                     reemplazan el consejo médico y no deben interpretarse como
                     un consejo, diagnóstico u opinión médica.
                  </p>

                  <p>
                     La información provista en el sitio web, el blog y los
                     videos de Myhealthfair.com no pretende ser un sustituto del
                     consejo médico profesional, el diagnóstico o la opinión
                     médica.
                  </p>

                  <p>
                     Por favor consulte con su médico antes de realizar
                     cualquier cambio en su régimen de salud.
                  </p>

                  <p>
                     Nuestro contenido tiene como objetivo principalmente
                     difundir la información que ofrecen nuestros proveedores y
                     que están disponibles para la comunidad.
                  </p>

                  <p>
                     No aceptamos publicidad que entre en conflicto con nuestra
                     misión. Cualquier publicidad de nuestro lado se etiquetará
                     de modo que esté separada del contenido médico.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
</PageLayout>
