---
import PageLayout from "../layouts/PageLayout.astro";
import ContactFormTest from "../components/ContactFormTest.astro";
---

<PageLayout title="Contacto" description="Lorem ipsum dolor sit amet">
   <section class="section">
      <div class="container has-text-white">
         <div class="columns is-centered">

            <div class="column is-5 is-offset-1 py-6">
               <ContactFormTest />
            </div>
         </div>
      </div>
   </section>
</PageLayout>

