---
import VideoGallery from '../components/VideoGallery.vue';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Video allies" description="Lorem ipsum dolor sit amet">
  <section class="section">
    <div class="container has-text-white">
      <div class="block has-text-centered">
        <h3 class="title">Alianzas en la Media</h3>
      </div>

      <VideoGallery lang="es" client:load />
    </div>
  </section>
</PageLayout>