---
import PageLayout from "../layouts/PageLayout.astro";
import "plyr/dist/plyr.css";
---

<PageLayout title="Aliados en video" description="Lorem ipsum dolor sit amet">
  <section class="section">
    <div class="container has-text-white">
      <div class="block has-text-centered">
        <h3 class="title">United Health Care</h3>
      </div>

      <div class="columns is-centered my-6">
        <div class="column is-5">
          <lite-youtube videoid="UvKkd4mncsk"></lite-youtube>
          
        </div>
        <div class="column is-5">
          <lite-youtube videoid="TzK7Tr82MPo"></lite-youtube>
        </div>
      </div>
      <br />
      <div class="block has-text-centered">
        <h3 class="title">Alzheimer's Association</h3>
      </div>

      <div class="columns is-centered my-6">
        <div class="column is-4">
          <lite-youtube videoid="bIC4Siso-NI"></lite-youtube>
        </div>
        <div class="column is-4">
          <lite-youtube videoid="nUSGM7XCyHc"></lite-youtube>
        </div>
        <div class="column is-4">
          <lite-youtube videoid="owi6H0gUq5o"></lite-youtube>
        </div>
      </div>

      <br />

      <div class="block has-text-centered">
        <h3 class="title">Dana Farber Cancer Institute</h3>
      </div>

      <div class="columns is-centered my-6">
        <div class="column is-4">
          <lite-youtube videoid="ksSKq1VrO5Q"></lite-youtube>
        </div>
        <div class="column is-4">
          <lite-youtube videoid="J-um1mgfR1w"></lite-youtube>
        </div>
        <div class="column is-4">
          <lite-youtube videoid="82WYR2w0EmM"></lite-youtube>
        </div>
      </div>
    </div>
  </section>
</PageLayout>

<script>
  import "@justinribeiro/lite-youtube";
</script>
