---
import PageLayout from "../layouts/PageLayout.astro";
import "plyr/dist/plyr.css";
---

<PageLayout title="Aliados en video" description="Lorem ipsum dolor sit amet">
   <section class="section">
      <div class="container has-text-white">
         <div class="block has-text-centered">
            <h3 class="title">United Health Care</h3>
         </div>

         <div class="columns is-centered">
            <div class="column is-5">
               <div
                  class="player"
                  data-plyr-provider="youtube"
                  data-plyr-embed-id="https://www.youtube.com/watch?v=UvKkd4mncsk"
               >
               </div>
            </div>
            <div class="column is-5">
               <div
                  class="player"
                  data-plyr-provider="youtube"
                  data-plyr-embed-id="https://www.youtube.com/watch?v=TzK7Tr82MPo"
               >
               </div>
            </div>
            <div class="column is-4">
               <!-- <div
                  id="player"
                  data-plyr-provider="youtube"
                  data-plyr-embed-id={videoID}
               >
               </div> -->
            </div>
         </div>

         <div class="block has-text-centered">
            <h3 class="title">Alzheimer's Association</h3>
         </div>

         <div class="columns is-centered">
            <div class="column is-4">
               <div
                  class="player"
                  data-plyr-provider="youtube"
                  data-plyr-embed-id="https://www.youtube.com/watch?v=bIC4Siso-NI&t=2s"
               >
               </div>
            </div>
            <div class="column is-4">
               <div
                  class="player"
                  data-plyr-provider="youtube"
                  data-plyr-embed-id="https://www.youtube.com/watch?v=nUSGM7XCyHc"
               >
               </div>
            </div>
            <div class="column is-4">
               <div
                  class="player"
                  data-plyr-provider="youtube"
                  data-plyr-embed-id="https://www.youtube.com/watch?v=owi6H0gUq5o"
               >
               </div>
            </div>
         </div>
      </div>
   </section>
</PageLayout>

<script>
   import Plyr from "plyr";

   document.addEventListener("astro:page-load", () => {
      const players = Plyr.setup(".player");
   });
</script>
