<div class="title is-5">Categories</div>

<div class="content">
   <ul>
      <li>
         <a href="/en/category/chronic-diseases/" class="has-text-info-50">Chronic diseases</a>
      </li>
      <li>
         <a href="/en/category/clinical-studies/" class="has-text-info-50">Clinical Studies</a>
      </li>
      <li>
         <a href="/en/category/national-health-center-week-2022/" class="has-text-info-50"
            >National Health Center Week 2022</a
         >
      </li>
      <li>
         <a href="/en/category/health-insurance/" class="has-text-info-50">Health insurance</a>
      </li>
      <li>
         <a href="/en/category/job-opportunities/" class="has-text-info-50">Job Opportunities</a>
      </li>
      <li>
         <a href="/en/category/one-minute-of-health/" class="has-text-info-50">One Minute of Health</a>
      </li>
      <li>
         <a href="/en/category/mental-health/" class="has-text-info-50">Mental health</a>
      </li>
      <li>
         <a href="/en/category/social-services/" class="has-text-info-50">Social services</a>
      </li>
   </ul>
</div>
