<div class="title is-5">Categorías</div>

<div class="content">
   <ul>
      <li>
         <a href="/category/enfermedades-cronicas/" class="has-text-info-50">Enfermedades Crónicas</a>
      </li>
      <li>
         <a href="/category/estudios-clinicos/" class="has-text-info-50">Estudios clínicos</a>
      </li>
      <li>
         <a href="/category/salud-mental/" class="has-text-info-50">Salud Mental</a>
      </li>
      <li>
         <a href="/category/seguro-medico/" class="has-text-info-50">Seguro Médico</a>
      </li>
      <li>
         <a href="/category/servicios-sociales/" class="has-text-info-50">Servicios Sociales</a>
      </li>
      <li>
         <a href="/category/trabajos/" class="has-text-info-50">Trabajos</a>
      </li>
      <li>
         <a href="/category/un-minuto-de-salud/" class="has-text-info-50">Un minuto de Salud</a>
      </li>
   </ul>
</div>
