---
const today = new Date();
import Image from "astro/components/Image.astro";
import logoWhite from "../images/logo-mhf-white.webp";
import Mailchimp from "./Mailchimp.astro";
import chatbot from "../images/btn-chatbot.fw.png";
---

<footer class="footer has-background-info-20 has-text-white">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="content">
          <figure class="image mb-4">
            <Image src={logoWhite} alt="Logo MHF" />
          </figure>

          <p>
            My Health Fair is a bilingual website business based in Boston,
            Massachusetts that is owned and operated by RW Consulting, LLC.
          </p>
          <p>
            The website connects both English and Spanish-speaking audiences to
            healthcare organizations that are trying to reach out to them with
            well-needed information and services via an on-demand virtual health
            fair.
          </p>
          <p>
            Our mission is to address language barriers and low health literacy
            with vulnerable and hard to reach populations 365 days a year.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <ul class="list">
            <li><a href="/en/resources">Resources</a></li>
            <li><a href="/en/contact">Contact</a></li>
            <li><a href="/en/toolkit">Toolkit</a></li>
            <li><a href="/en/become-sponsor">Become a Sponsor</a></li>
            <li><a href="/en/sitemap">Sitemap</a></li>
            <li><a href="/en/privacy-policy">Privacy policy</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-4">
        <p>
          Subscribe to MyHealthFair.com newsletter, which will then be emailed
          to you
        </p>

        <Mailchimp />
      </div>
    </div>
  </div>
</footer>

<section class="section py-3 has-background-info-25">
  <div class="container has-text-white-ter">
    <div class="columns">
      <div class="column">
        <div class="block has-text-centered-mobile is-size-7-mobile">
          <p>
            &copy; {today.getFullYear()} MyHealthFair. All rights reserved.
          </p>
        </div>
      </div>
      <div class="column">
        <div
          class="block has-text-right has-text-centered-mobile is-size-7-mobile"
        >
          <p>
            Developed by <a
              href="https://efrank.xyz"
              target="_blank"
              title="Frank albarracín"
              class="has-text-link-light">eFrank</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <button
  type="button"
  data-openwidget-action="maximize"
  class="chatbot"
  id="chatbot"
>
  <Image src={chatbot} alt="Chatbot" width="50" height="50" />
</button> -->

<style>
  .list {
    list-style: none;
  }

  .list li {
    padding: 0.75rem;
    border-bottom: 1px solid whitesmoke;
  }

  .list a {
    color: white;
  }

  .chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }

  .chatbot:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
  }
</style>
