---
const today = new Date();
import Image from "astro/components/Image.astro";
import logoWhite from "../images/logo-mhf-white.webp";
import Mailchimp from "./Mailchimp.astro";
---

<footer class="footer has-background-info-20 has-text-white">
	<div class="container">
		<div class="columns">
			<div class="column is-4">
				<div class="content">
					<figure class="image mb-4">
						<Image src={logoWhite} alt="Logo MHF" />
					</figure>

					<p>
						My Health Fair es un sitio web bilingüe con sede en Boston,
						Massachusetts que pertenece y es operado por RW Consulting,
						LLC.
					</p>
					<p>
						El sitio web conecta a las audiencias de habla inglesa e
						hispanoparlantes, con Organizaciones de atención médica que
						intentan llegar a ellos con la información y los servicios
						necesarios a través de una feria de salud virtual.
					</p>
					<p>
						Nuestra misión es abordar las barreras del idioma y la baja
						alfabetización en servicios de salud en poblaciones
						vulnerables y de difícil acceso, los 365 días del año.
					</p>
				</div>
			</div>
			<div class="column is-4">
				<div class="content">
					<ul class="list">
						<li><a href="/resources">Recursos</a></li>
						<li><a href="/contacto">Contacto</a></li>
						<li><a href="/toolkit">Toolkit</a></li>
						<li><a href="/conviertete-en-expositor">Conviértete en Expositor</a></li>
						<li><a href="/mapa-del-sitio">Mapa del sitio</a></li>
						<li><a href="/politica-privacidad">Política de privacidad</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-4">
				<p>
					Suscríbase y reciba por correo electrónico el boletín de noticias
					de MyHealthFair.com.
				</p>

				<Mailchimp />
			</div>
		</div>
	</div>
</footer>

<section class="section py-3 has-background-info-25">
	<div class="container has-text-white-ter">
		<div class="columns">
			<div class="column">
				<div class="block has-text-centered-mobile is-size-7-mobile">
					<p>
						&copy; {today.getFullYear()} MyHealthFair. All rights reserved.
					</p>
				</div>
			</div>
			<div class="column">
				<div
					class="block has-text-right has-text-centered-mobile is-size-7-mobile"
				>
					<p>
						Developed by <a
							href="https://efrank.xyz"
							target="_blank"
							title="Frank albarracín"
							class="has-text-link-light">eFrank</a
						>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.list {
		list-style: none;
	}

	.list li {
		padding: 0.75rem;
		border-bottom: 1px solid whitesmoke;
	}

	.list a {
		color: white
	}
</style>
