---
import Menu from "./NavbarPages.astro";
import { Image } from "astro:assets";
import logo from "../images/logo-MHF-short.webp";
import emb_header from "../images/emb-header.webp";
import SocialLinks from "./SocialLinks.astro";
const idioma = Astro.currentLocale;
const urlHome = idioma == "es" ? "/" : "/en";
---

<section class="section p-2 has-background-primary is-hidden-touch">
  <div class="container">
    <div class="columns">
      <div class="column">
        <SocialLinks />
      </div>
      <div class="column has-text-right"></div>
    </div>
  </div>
</section>

<section class="section p-2 header-main">
  <div class="container">
    <div class="columns mb-0">
      <div class="column is-3 is-hidden-touch is-align-content-center">
        <figure class="image logo">
          <a href={urlHome}>
            <Image src={logo} alt="logo MHF"/>
          </a>
        </figure>
      </div>
      <div class="column has-text-right header-ad">
        <a href="https://elmundoboston.com" target="_blank">
          <Image src={emb_header} alt="El Mundo Boston" title="El Mundo Boston" />
        </a>
      </div>
    </div>

    <div class="columns is-bordered">
      <div class="column p-1">
        <Menu />
      </div>
    </div>
  </div>
</section>

<style>
  .header-main {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  }

  .is-bordered {
    border-top: 1px groove lightgrey;
    /* box-shadow: 0px 3px 4px #e2e2e2; */
  }

  @media (max-width: 728px) {
    .header-main .columns {
      display: flex;
      flex-direction: column;
    }

    .header-ad {
      order: 1;
      background-color: var(--primary);
    }
  }
</style>
