---
import Menu from "./NavbarPages.astro";
import { Image } from "astro:assets";
import logo from "../images/logo-MHF-short.webp";
import emb_header from "../images/emb-header.webp";
import SocialLinks from "./SocialLinks.astro";
---

<section class="section p-2 has-background-primary is-hidden-touch">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<SocialLinks />
			</div>
			<div class="column has-text-right">
				
			</div>
		</div>
	</div>
</section>

<section class="section p-2 header-main">
	<div class="container is-max-widescreen">
		<div class="columns mb-0">
			<div class="column is-3 header-logo">
				<figure class="image logo">
					<a href="/">
						<Image src={logo} alt="logo MHF" />
					</a>
				</figure>
			</div>
			<div class="column has-text-right header-ad">
				<Image src={emb_header} alt="El Mundo Boston" />
			</div>
		</div>

		<div class="columns is-bordered">
			<div class="column p-1">
				<Menu />
			</div>
		</div>
	</div>
</section>

<style>

	.is-bordered {
		border-top: 1px groove lightgrey;
		/* box-shadow: 0px 3px 4px #e2e2e2; */
	}
	
	@media (max-width: 728px) {
		.header-main .columns {
			display: flex;
			flex-direction: column;
		}

		.header-ad {
			order: 1;
			background-color: var(--primary);
		}

		.header-logo {
			display: none;
		}
	}
</style>
