---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);

const isActive = href === pathname
---

<a href={href} class:list={[className, { 'is-active': isActive }, 'navbar-item']} {...props}>
	<slot />
</a>
<style>
	@media (max-width: 728px) {
		a {
			display: block;
		}
	}
</style>
