---
export const prerender = false;
const idioma = Astro.currentLocale;
import "plyr/dist/plyr.css";

const apiKey = import.meta.env.PUBLIC_YOUTUBE_API_KEY;

const playlistId = idioma == "es" ? "PLnKieTyBOHbMTVtLiMpJ_GM7fhKdDoUN3" : "PLnKieTyBOHbMJTy7QtuL7zEPGECDd4IfI";
let videos = [];

const response = await fetch(
  `https://www.googleapis.com/youtube/v3/playlistItems?playlistId=${playlistId}&key=${apiKey}&part=snippet,id&maxResults=3`
);
const data = await response.json();
videos = data.items

---

<section class="section">
  <div class="container has-text-white">
    <div class="block has-text-centered">
      {
        idioma == "es" ? (
          <h3 class="title">Aliados en la Media</h3>
        ) : (
          <h3 class="title">Partners in the Media</h3>
        )
      }
    </div>

    <div class="columns is-centered my-6">
  
        {

          videos && videos.map((video) => (
            <div class="column is-4">
              <lite-youtube videoid={video.snippet.resourceId.videoId} />

              <h3 class="title is-5 my-4">
                <Fragment set:html={video.snippet.title}></Fragment>
              </h3>
            </div>
          ))
        }

    </div>
  </div>

  <script>
    import "@justinribeiro/lite-youtube";
  </script>
</section>
