---
import ModalStand from "./ModalStand.astro";
const idioma = Astro.currentLocale == "en" ? "/en" : "";
---

<section class="hero is-hidden-touch">
  <!-- <div class="is-overlay"></div> -->

  <div class="hero-body p-0">
    <div class="container is-fluid p-0">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 2000 1125"
      >
        <image
          width="2000"
          height="1125"
          xlink:href="/img/mhf-plaza-2025.webp"
        />
        <a onclick="openModal('united-health-care')">
          <image xlink:href="/img/booths-pics/united-hc.webp" x="520" y="450" />
        </a><a onclick="openModal('dana-farber')">
          <image
            xlink:href="/img/booths-pics/dana-farber.webp"
            x="735"
            y="385"
          />
        </a><a onclick="openModal('alzheimer-assoc')">
          <image
            xlink:href="/img/booths-pics/alzheimer-association.webp"
            x="1110"
            y="275"
          />
        </a><a onclick="openModal('ferreras-counseling')">
          <image
            xlink:href="/img/booths-pics/ferreras-counseling.webp"
            x="890"
            y="520"
          />
        </a>
      </svg>
    </div>
  </div>
</section>

<section class="hero-mobile is-hidden-desktop">
  <div class="container">
    <div class="buttons is-centered">
      <a href={idioma + "/booths/alzheimer-assoc/"} class="button"
        >Alzheimer's Association</a
      >
      <a href={idioma + "/booths/dana-farber/"} class="button"
        >Dana-Farber Cancer Institute</a
      >

      <a href={idioma + "/booths/ferreras-counseling/"} class="button"
        >Ferreras Counseling</a
      >

      <a href={idioma + "/booths/united-health-care/"} class="button"
        >United Health Care</a
      >
    </div>
  </div>
</section>

<ModalStand />

<script>
  // Datos de los stands
  const standsData = {
    "united-health-care": {
      title: "United Health Care",
      image: "/img/booths-pics/united-care-logo.webp",
      description: "UnitedHealthcare (UHC) es una de las principales compañías de atención médica y seguros de EE. UU., parte de UnitedHealth Group, que ofrece una amplia gama de planes de salud para individuos, familias, empleadores y programas gubernamentales como Medicare y Medicaid",
    },
    "dana-farber": {
      title: "Dana Farber Cancer Institute",
      image: "/img/booths-pics/dana-farber-logo.webp",
      description: "El Dana-Farber Cancer Institute, afiliado a la Facultad de Medicina de Harvard, es uno de los centros de investigación y tratamiento del cáncer más importantes del mundo.",
    },
    "alzheimer-assoc": {
      title: "Alzheimer's Association",
      image: "/img/booths-pics/alz-assoc-logo.webp",
      description: "Alzheimer's Association es una organización sin fines de lucro que promueve la investigación, la prevención y el tratamiento del Alzheimer, la enfermedad más común de demencia.",
    },
    // Agrega más stands según sea necesario
  };

  function openModal(booth) {
    const modal = document.getElementById("modal-stand");
    const stand = standsData[booth];

    if (!modal) return;

    // Actualizar el contenido del modal
    const content = `
      <div class="has-text-centered">
        
        <img src="${stand.image}" alt="${stand.title}" style="width: 300px; height: auto;">

        <h2 class="title is-4 has-text-centered">${stand.title}</h2>
       
        <p>${stand.description}</p>
        
        <a><img src="/img/booths-pics/contacto.webp" alt=""></a>
      </div>
      `;

    modal.querySelector(".content").innerHTML = content;
    modal.classList.add("is-active");

    // Cerrar con la tecla ESC
    document.onkeydown = function (evt) {
      evt = evt || window.event;
      if (evt.key === "Escape") {
        modal.classList.remove("is-active");
      }
    };
  }

  // Close modal functions
  document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("modal-stand");
    if (!modal) return;
    const closeButtons = modal.querySelectorAll(
      ".delete, .modal-close, .modal-background"
    );
    closeButtons.forEach((button) => {
      button.addEventListener("click", () => {
        modal.classList.remove("is-active");
      });
    });
  });

  // Hacer la función accesible globalmente
  window.openModal = openModal;
</script>

<style>
  .hero-mobile {
    background: url("../images/bg-feria.webp") center no-repeat;
    background-size: cover;
  }

  .hero-mobile .container {
    padding-block: 1rem;
  }

  .buttons {
    gap: 0.6rem;
  }
  .hero-mobile .button {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 2px 2px #333;
    font-size: large;
    font-weight: 700;
    color: white;
  }

  .is-overlay {
    background: rgba(121, 171, 236, 0.15);
  }

  a > image {
    opacity: 0.8;
    width: 125px;
    height: 125px;
    transition: all 0.3s;
  }

  a > image:hover {
    width: 135px;
    height: 135px;
    opacity: 1;
  }

  .list,
  .list a {
    color: white;
  }
</style>
