---
const idioma = Astro.currentLocale == "en" ? "/en" : "";
---

<section class="hero is-hidden-touch">
  <!-- <div class="is-overlay"></div> -->

  <div class="hero-body p-0">
    <div class="container is-fluid p-0">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 2000 1125"
      >
        <image
          width="2000"
          height="1125"
          xlink:href="/img/mhf-plaza-2025.webp"
        />
        <a xlink:href={idioma + "/booths/helpline-mass/"}>
          <image
            xlink:href="/img/booths-pics/mass-helpline.webp"
            x="284"
            y="540"
          />
        </a><a xlink:href={idioma + "/booths/united-health-care/"}>
          <image xlink:href="/img/booths-pics/united-hc.webp" x="520" y="450" />
        </a><a xlink:href={idioma + "/booths/dana-farber/"}>
          <image
            xlink:href="/img/booths-pics/dana-farber.webp"
            x="735"
            y="385"
          />
        </a><a xlink:href={idioma + "/booths/madrc/"}>
          <image xlink:href="/img/booths-pics/madrc.webp" x="920" y="315" />
        </a><a xlink:href={idioma + "/booths/alzheimer-assoc/"}>
          <image
            xlink:href="/img/booths-pics/alzheimer-association.webp"
            x="1110"
            y="275"
          />
        </a><a xlink:href={idioma + "/booths/mass-health/"}>
          <image
            xlink:href="/img/booths-pics/mass-health.webp"
            x="376"
            y="755"
          />
        </a><a xlink:href={idioma + "/booths/whittier/"}>
          <image xlink:href="/img/booths-pics/whittier.webp" x="655" y="635" />
        </a><a xlink:href={idioma + "/booths/ferreras-counseling/"}>
          <image
            xlink:href="/img/booths-pics/ferreras-counseling.webp"
            x="890"
            y="520"
          />
        </a><a xlink:href={idioma + "/booths/joslin/"}>
          <image xlink:href="/img/booths-pics/joslin.webp" x="1110" y="450" />
        </a><a xlink:href={idioma + "/booths/project-bread/"}>
          <image
            xlink:href="/img/booths-pics/project-bread.webp"
            x="240"
            y="360"
          />
        </a>
        <a xlink:href={idioma + "/booths/terapix/"}>
          <image xlink:href="/img/booths-pics/terapix.webp" x="450" y="290" />
        </a>
        <a xlink:href={idioma + "/booths/abacenters/"}>
          <image
            xlink:href="/img/booths-pics/abacenters.webp"
            x="630"
            y="250"
          />
        </a>
      </svg>
    </div>
  </div>
</section>

<section class="hero-mobile is-hidden-desktop">
  <div class="container">
    <div class="buttons is-centered">
      <a href={idioma + "/booths/abacenters/"} class="button">Abacenters</a>
      <a href={idioma + "/booths/alzheimer-assoc/"} class="button"
        >Alzheimer's Association</a
      >
      <a href={idioma + "/booths/dana-farber/"} class="button"
        >Dana-Farber Cancer Institute</a
      >
      <a href={idioma + "/booths/joslin/"} class="button"
        >Joslin Diabetes Center</a
      >
      <a href={idioma + "/booths/madrc/"} class="button"
        >Massachusetts Alzheimer's <br /> Disease Reasearch Center</a
      >
      <a href={idioma + "/booths/ferreras-counseling/"} class="button"
        >Ferreras Counseling</a
      >
      <a href={idioma + "/booths/mass-health/"} class="button"
        >Mass Health Connector</a
      >
      <a href={idioma + "/booths/helpline-mass/"} class="button"
        >Mass Behavioral Help Line</a
      >
      <a href={idioma + "/booths/project-bread/"} class="button"
        >Project Bread</a
      >
      <a href={idioma + "/booths/terapix/"} class="button">Terapix</a>

      <a href={idioma + "/booths/united-health-care/"} class="button"
        >United Health Care</a
      >
      <a href={idioma + "/booths/whittier/"} class="button">Whittier Street</a>
    </div>
  </div>
</section>

<style>
  .hero-mobile {
    background: url("../images/bg-feria.webp") center no-repeat;
    background-size: cover;
  }

  .hero-mobile .container {
    padding-block: 1rem;
  }

  .buttons {
    gap: .6rem;
  }
  .hero-mobile .button {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 2px 2px #333;
    font-size: large;
    font-weight: 700;
    color: white;
  }

  .is-overlay {
    background: rgba(121, 171, 236, 0.15);
  }

  a > image {
    opacity: 0.8;
    width: 125px;
    height: 125px;
    transition: all 0.3s;
  }

  a > image:hover {
    width: 135px;
    height: 135px;
    opacity: 1;
  }

  .list,
  .list a {
    color: white;
  }
</style>
