---
import mhfPlaza from "../images/mhf-plaza.webp";
import logo_helpline from "../images/mass-helpline.webp";
---

<section class="hero">
   <div class="is-overlay"></div>

   <div class="hero-body p-0">
      <div class="container is-fluid p-0">
         <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 2000 1125"
         >
            <image
               width="2000"
               height="1125"
               xlink:href="../img/mhf-plaza.webp"
            />
            <a xlink:href="/booths/helpline-mass">
               <image
                  xlink:href="../img/booths-pics/mass-helpline.webp"
                  x="284"
                  y="528"
               />
            </a><a xlink:href="/booths/united-health-care">
               <image
                  xlink:href="../img/booths-pics/united-hc.webp"
                  x="520"
                  y="430"
               />
            </a><a xlink:href="/booths/dana-farber/">
               <image
                  xlink:href="../img/booths-pics/dana-farber.webp"
                  x="725"
                  y="345"
               />
            </a><a xlink:href="/booths/madrc">
               <image xlink:href="../img/booths-pics/madrc.webp" x="920" y="295" />
            </a><a xlink:href="/booths/alzheimer-assoc">
               <image
                  xlink:href="../img/booths-pics/alzheimer-association.webp"
                  x="1110"
                  y="255"
               />
            </a><a xlink:href="/booths/mass-health">
               <image
                  xlink:href="../img/booths-pics/mass-health.webp"
                  x="376"
                  y="785"
               />
            </a><a xlink:href="/booths/whittier">
               <image
                  xlink:href="../img/booths-pics/whittier.webp"
                  x="655"
                  y="635"
               />
            </a><a xlink:href="/booths/all-of-us/">
               <image
                  xlink:href="../img/booths-pics/all-of-us.webp"
                  x="890"
                  y="520"
               />
            </a><a xlink:href="/booths/dimock">
               <image
                  xlink:href="../img/booths-pics/dimock-center.webp"
                  x="1110"
                  y="440"
               />
            </a><a xlink:href="/booths/project-bread/">
               <image
                  xlink:href="../img/booths-pics/project-bread.webp"
                  x="1320"
                  y="400"
               />
            </a>
         </svg>
      </div>
   </div>
</section>

<style>
   /* .hero {
      background: url("../images/mhf-plaza.webp") center left no-repeat;
      background-size: cover;
   } */

   .is-overlay {
      background: rgba(121, 171, 236, 0.15);
   }

   a > image {
      opacity: 0.8;
      width: 125px;
      height: 125px;
      transition: all 0.3s;
   }

   a > image:hover {
      width: 135px;
      height: 135px;
      opacity: 1;
   }
</style>
