---
import HeaderLink from "./HeaderLink.astro";
---

<div class="internal-links is-uppercase">
   <nav class="is-justify-content-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/acerca-de">Acerca de</HeaderLink>
      <HeaderLink href="/blog">VBlog</HeaderLink>
      <HeaderLink href="/toolkit">Toolkit</HeaderLink>
      <HeaderLink href="/contacto">Contacto</HeaderLink>
   </nav>
</div>

<style>
   nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   nav a {
      padding: 1em 0.5em;
      color: var(--black);
      border-bottom: 2px solid transparent;
      text-decoration: none;
      letter-spacing: .5pt;
   }
   nav a.active {
      color: var(--bulma-primary);
      text-decoration: none;
      border-bottom-color: var(--accent);
   }
</style>
