---
import { Image } from "astro:assets";
import logoMHF from "../images/logo-MHF-short.webp";
import SubmenuFeria from "./SubmenuFeria.astro";
import SubmenuFair from "./SubmenuFair.astro";
const { pathname } = Astro.url;
const idioma = Astro.currentLocale;
let isHome = false;
if (pathname == "/" || pathname == "/en" || pathname == "/en/") isHome = true;
---

<header class:list={["navbar", { "is-fixed-top": isHome }]}>
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item logo">
            <Image src={logoMHF} alt="Logo" width="286" height="70" />
         </a>
         <span class="navbar-burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
         <div class="navbar-end">
            {
               idioma == "es" ? (
                  <>
                     <a
                        href="/"
                        class:list={["navbar-item", { "is-active": isHome }]}
                     >
                        Inicio
                     </a>

                     <SubmenuFeria />

                     <a href="/acerca-de" class="navbar-item">
                        Acerca de
                     </a>

                     <a href="/blog" class="navbar-item">
                        Vblog
                     </a>
                     <a href="/eventos" class="navbar-item">
                        Eventos
                     </a>
                     <a href="/toolkit" class="navbar-item">
                        Toolkit
                     </a>
                     <a href="/contacto" class="navbar-item">
                        Contacto
                     </a>
                     <a href="/en" class="navbar-item is-hidden-desktop">
                        English
                        <img
                           src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAmVBMVEViZsViZMJiYrf9gnL8eWrlYkjgYkjZYkj8/PujwPybvPz4+PetraBEgfo+fvo3efkydfkqcvj8Y2T8UlL8Q0P8MzP9k4Hz8/Lu7u4DdPj9/VrKysI9fPoDc/EAZ7z7IiLHYkjp6ekCcOTk5OIASbfY/v21takAJrT5Dg6sYkjc3Nn94t2RkYD+y8KeYkjs/v7l5fz0dF22YkjWvcOLAAAAgElEQVR4AR2KNULFQBgGZ5J13KGGKvc/Cw1uPe62eb9+Jr1EUBFHSgxxjP2Eca6AfUSfVlUfBvm1Ui1bqafctqMndNkXpb01h5TLx4b6TIXgwOCHfjv+/Pz+5vPRw7txGWT2h6yO0/GaYltIp5PT1dEpLNPL/SdWjYjAAZtvRPgHJX4Xio+DSrkAAAAASUVORK5CYII="
                           alt=""
                           width="16"
                           height="11"
                           style="width: 16px; height: 11px;"
                        />
                     </a>
                  </>
               ) : (
                  <>
                     <a
                        href="/en"
                        class:list={["navbar-item", { "is-active": isHome }]}
                     >
                        Home
                     </a>

                     <SubmenuFair />
                     
                     <a href="/en/about" class="navbar-item">
                        About us
                     </a>


                     <a href="/en/blog" class="navbar-item">
                        Vblog
                     </a>
                     <a href="/en/events" class="navbar-item">
                        Events
                     </a>
                     <a href="/en/toolkit" class="navbar-item">
                        Toolkit
                     </a>
                     <a href="/en/contact" class="navbar-item">
                        Contact
                     </a>
                     <a href="/" class="navbar-item is-hidden-desktop">
                        Español
                        <img
                           src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAflBMVEX/AAD9AAD3AADxAADrAAD/eXn9bGz8YWH8WVn6UVH5SEj5Pz/3NDT0Kir9/QD+/nL+/lT18lDt4Uf6+j/39zD39yf19R3n5wDxflXsZ1Pt4Y3x8zr0wbLs1NXz8xPj4wD37t3jmkvsUU/Bz6nrykm3vJ72IiL0FBTyDAvhAABEt4UZAAAAX0lEQVR4AQXBQUrFQBBAwXqTDkYE94Jb73+qfwVRcYxVQRBRToiUfoaVpGTrtdS9SO0Z9FR9lVy/g5c99+dKl30N5uxPuviexXEc9/msC7TOkd4kHu/Dlh4itCJ8AP4B0w4Qwmm7CFQAAAAASUVORK5CYII="
                           alt=""
                           width="16"
                           height="11"
                           style="width: 16px; height: 11px;"
                        />
                     </a>
                  </>
               )
            }
         </div>
      </div>
   </div>
</header>

<style>
   .navbar {
      background-color: rgba(255, 255, 255, 0.75);
   }

   .is-white {
      background-color: rgba(255, 255, 255, 0.95);
   }
</style>
