---
import { Image } from "astro:assets";
import logoMHF from "../images/logo-MHF-short.webp";
const { pathname } = Astro.url;
const isHome = pathname == "/" ? true : false;
---

<header class:list={["navbar", { "is-fixed-top": isHome }]}>
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item logo">
            <Image src={logoMHF} alt="Logo" width="286" height="70" />
         </a>
         <span class="navbar-burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
         <div class="navbar-end">
            <a href="/" class:list={["navbar-item", { "is-active": isHome }]}>
               Home
            </a>
            <a href="/acerca-de" class="navbar-item"> Acerca de </a>
            <a href="/blog" class="navbar-item"> Vblog </a>
            <a href="/events" class="navbar-item"> Eventos </a>
            <a href="/toolkit" class="navbar-item"> Toolkit </a>
            <a href="/contacto" class="navbar-item"> Contacto </a>
         </div>
      </div>
   </div>
</header>

<script>
   function scroll() {
      const navbar = document.querySelector(".navbar");
      if (window.scrollY >= 60) {
         navbar.classList.add("is-white");
      } else {
         navbar.classList.remove("is-white");
      }
   }

   function openBurger() {
      const $burger = document.querySelector(".navbar-burger");

      $burger.addEventListener("click", () => {
         const target = $burger.dataset.target;
         const $target = document.getElementById(target) as HTMLElement;

         $burger.classList.toggle("is-active");

         $target!.classList.toggle("is-active");
      });
   }

   document.addEventListener("astro:page-load", () => {
      openBurger();
      scroll();
   });

   window.addEventListener("scroll", scroll);
</script>

<style>
   .navbar {
      background-color: rgba(255, 255, 255, 0.75);
   }

   .is-white {
      background-color: rgba(255, 255, 255, 0.95);
   }

   .logo img {
      max-height: 70px;
   }

   @media (max-width: 575px) {
      .navbar.is-fixed-top {
         position: initial;
      }

      .navbar-menu.is-active {
         position: absolute;
         width: 100%;
         z-index: 999;
         animation: show-navbar-menu 0.3s;
      }

      @keyframes show-navbar-menu {
         from {
            opacity: 0;
         }

         to {
            opacity: 1;
         }
      }
   }
</style>
