---
import { Image } from "astro:assets";
import logoMHF from "../images/logo-MHF-short.webp";
const { pathname } = Astro.url;
const isHome = pathname == "/" ? true : false;
---

<header class:list={["navbar", { "is-fixed-top": isHome }]}>
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item logo">
            <Image src={logoMHF} alt="Logo" width="286" height="70" />
         </a>
         <span class="navbar-burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
         <div class="navbar-end">
            <a href="/" class:list={["navbar-item", { "is-active": isHome }]}>
               Home
            </a>
            <a href="/acerca-de" class="navbar-item"> Acerca de </a>
            <a href="/blog" class="navbar-item"> Vblog </a>
            <a href="/events" class="navbar-item"> Eventos </a>
            <a href="/toolkit" class="navbar-item"> Toolkit </a>
            <a href="/contacto" class="navbar-item"> Contacto </a>
         </div>
      </div>
   </div>
</header>

<style>
   .navbar {
      background-color: rgba(255, 255, 255, 0.75);
   }

   .is-white {
      background-color: rgba(255, 255, 255, 0.95);
   }

</style>
