---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import logoMHF from "../images/logo-MHF-short.webp";
const idioma = Astro.currentLocale;
---

<nav class="navbar">
   <div class="container">
      <div class="navbar-brand is-hidden-desktop">
         <a href="/" class="navbar-item logo">
            <Image src={logoMHF} alt="Logo" width="286" height="70" />
         </a>
         <span class="navbar-burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </span>
      </div>

      <div id="navbarMenu" class="navbar-menu">
         <div class="navbar-end">
            {
               idioma == 'es' ? (
                  <HeaderLink href="/">Inicio</HeaderLink>
                  <HeaderLink href="/acerca-de">Acerca de</HeaderLink>
                  <HeaderLink href="/blog">VBlog</HeaderLink>
                  <HeaderLink href="/toolkit">Toolkit</HeaderLink>
                  <HeaderLink href="/contacto">Contacto</HeaderLink>
               )
               : (
                  <HeaderLink href="/en">Home</HeaderLink>
                  <HeaderLink href="/en/about">About us</HeaderLink>
                  <HeaderLink href="/en/blog">VBlog</HeaderLink>
                  <HeaderLink href="/en/toolkit">Toolkit</HeaderLink>
                  <HeaderLink href="/en/contact">Contact</HeaderLink>
               )
            }
            
         </div>
      </div>
   </div>
</nav>

<style>
   :root {
      --bulma-navbar-height: 2.5rem;
   }

   nav a {
      padding: 0.5rem 0.85rem;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      letter-spacing: 0.5pt;
   }

   .navbar-end {
      margin-inline-end: auto;
   }

   @media (min-width: 728px) {
      nav a.is-active {
         color: var(--bulma-primary);
         text-decoration: none;
         border-bottom-color: var(--accent);
         background-color: transparent;
      }
   }
</style>
