---
import { Icon } from "astro-icon/components";
---

<div class="social-links">
  <a href="https://www.facebook.com/MyHealthFair" target="_blank">
    <Icon name="entypo-facebook" />
  </a>
  <a href="https://www.linkedin.com/company/my-health-fair/" target="_blank">
    <Icon name="entypo-linkedin" />
  </a>
  <a href="https://www.youtube.com/@myhealthfair4270/" target="_blank">
    <Icon name="entypo-youtube" />
  </a>
</div>

<style>
  .social-links {
    line-height: 1;
  }

  svg {
    width: 1.6em;
    height: 1.6em;
    color: white;
  }
</style>
