<div class="navbar-item has-dropdown is-hoverable">
   <a class="navbar-link" href="/en/blog">Vblog</a>

   <div class="navbar-dropdown">
      <a href="/en/category/alzheimers/" class="navbar-item"> Alzheimer </a>
      <a href="/en/category/cancer/" class="navbar-item">Cancer</a>
      <a href="/en/category/chronic-diseases/" class="navbar-item">
         Chronic diseases
      </a>
      <a href="/en/category/clinical-studies/" class="navbar-item">
         Clinical Studies
      </a>
      <a href="/en/category/health-insurance/" class="navbar-item">
         Health insurance
      </a>
      <a href="/en/category/job-opportunities/" class="navbar-item">
         Job Opportunities
      </a>
      <a href="/en/category/mental-health/" class="navbar-item">
         Mental health
      </a>
      <a href="/en/category/one-minute-of-health/" class="navbar-item">
         One minute of Health
      </a>
      <a href="/en/category/social-services/" class="navbar-item">
         Social Services
      </a>
   </div>
</div>
