<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">Virtual Fair</a>

  <div class="navbar-dropdown">
    <!-- <a href="/en/booths/all-of-us/" class="navbar-item">
      All of Us Research Program
    </a> -->
    <a href="/en/booths/alzheimer-assoc/" class="navbar-item">
      Alzheimer's Association
    </a>
    <a href="/en/booths/dana-farber/" class="navbar-item">
      Dana-Farber Cancer Institute
    </a>
    <a href="/en/booths/ferreras-counseling/" class="navbar-item">
      Ferreras Counseling
    </a>
    <a href="/en/booths/joslin/" class="navbar-item">
      Joslin Diabetes Center
    </a>

    <a href="/en/booths/mass-health/" class="navbar-item">
      Mass Health Redetermination
    </a>
    <a href="/en/booths/helpline-mass" class="navbar-item"> Mass Help Line </a>
    <a href="/en/booths/madrc/" class="navbar-item">
      Massachusetts Alzheimer's Disease Reasearch Center
    </a>
    <a href="/en/booths/project-bread/" class="navbar-item"> Project Bread </a>
    <a href="/en/booths/united-health-care/" class="navbar-item">
      United Health Care
    </a>
    <a href="/en/booths/whittier/" class="navbar-item">
      Whittier Street Health Center
    </a>
  </div>
</div>
