<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">Feria Virtual</a>

  <div class="navbar-dropdown">
    <a href="/booths/abacenters/" class="navbar-item">ABA Centers</a>
    <a href="/booths/alzheimer-assoc/" class="navbar-item">
      Alzheimer's Association
    </a>
    <a href="/booths/dana-farber/" class="navbar-item">
      Dana-Farber Cancer Institute
    </a>
    <a href="/booths/ferreras-counseling/" class="navbar-item">
      Ferreras Counseling
    </a>
    <a href="/booths/joslin/" class="navbar-item"> Joslin Diabetes Center </a>

    <a href="/booths/mass-health/" class="navbar-item">
      Mass Health Redetermination
    </a>
    <a href="/booths/helpline-mass" class="navbar-item"> Mass Help Line </a>
    <a href="/booths/madrc/" class="navbar-item">
      Massachusetts Alzheimer's Disease Reasearch Center
    </a>
    <a href="/booths/project-bread/" class="navbar-item"> Project Bread </a>
    <a href="/booths/terapix/" class="navbar-item"> Terapix </a>
    <a href="/booths/united-health-care/" class="navbar-item">
      United Health Care
    </a>
    <a href="/booths/whittier/" class="navbar-item">
      Whittier Street Health Center
    </a>
  </div>
</div>
