<div class="navbar-item has-dropdown is-hoverable">
   <a class="navbar-link" href="/blog/page/">Vblog</a>

   <div class="navbar-dropdown">
      <a href="/category/alzheimer/" class="navbar-item"> Alzheimer's </a>
      <a href="/category/cancer/" class="navbar-item">Cáncer</a>
      <a href="/category/enfermedades-cronicas/" class="navbar-item">
         Enfermedades Crónicas
      </a>
      <a href="/category/salud-mental/" class="navbar-item"> Salud Mental </a>
      <a href="/category/seguro-medico/" class="navbar-item"> Seguro Médico </a>
      <a href="/category/servicios-sociales/" class="navbar-item">
         Servicios Sociales
      </a>
      <a href="/category/estudios-clinicos/" class="navbar-item">
         Estudios Clínicos
      </a>
      <a href="/category/un-minuto-de-salud/" class="navbar-item">
         Un minuto de Salud
      </a>
      <a href="/category/trabajos/" class="navbar-item">
         Trabajos en área de la salud</a
      >
   </div>
</div>
