---
import { Image } from "astro:assets";
import flagES from "../images/flag-esp.png";
import flagEN from "../images/flag-eng.png";
import { getRelativeLocaleUrl } from "astro:i18n";

const idioma = Astro.currentLocale;
const wpurl = import.meta.env.WP_URL;
let objTrads = Astro.props["traducciones"];
let isPost = Astro.props["isPost"];

let imgFlag = idioma == "es" ? flagEN : flagES;
let urlLang = idioma == "es" ? "en" : "es";

let urlPath, urlPost, url;

if (isPost) {
   let idUrlPost = idioma == "es" ? objTrads["en"] : objTrads["es"];
   let res = await fetch(`${wpurl}/posts/${idUrlPost}`);
   let post = await res.json();
   urlPost = idioma == "es" ? "/en/blog/" + post.slug : "/blog/" + post.slug;
} else {
   urlPath =
      urlLang == "es" ? Astro.url.pathname.substr(3) : Astro.url.pathname;
}

url = isPost ? urlPost : getRelativeLocaleUrl(urlLang, urlPath);
---

<div class="tab is-hidden-mobile">
   <a href={url}>
      {idioma == "es" ? <span>English</span> : <span>Español</span>}
      <Image src={imgFlag} alt="idioma" width="20" height="20" />
   </a>
</div>

<style>
   .tab {
      position: absolute;
      z-index: 40;
      top: -5px;
      right: 40px;
      background: white;
      border-radius: 0 0 7px 7px;
      opacity: 0.8;
      transition: all 0.3s;
   }

   .tab a {
      /* display: block; */
      /* line-height: 1; */
      padding: 5px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #666;
   }

   .tab:hover {
      top: 0;
      opacity: 1;
      box-shadow: 0 2px 4px grey;
   }
</style>
