---
import { Image } from "astro:assets";
import flagES from "../images/flag-esp.png";
import flagEN from "../images/flag-eng.png";

const idioma = Astro.currentLocale;
const imgFlag = idioma == "es" ? flagEN : flagES;
const homeUrl = idioma == "es" ? "/en" : "/";
---

<div class="tab is-hidden-mobile">
   <a href={homeUrl}>
      {idioma == "es" ? <span>English</span> : <span>Español</span>}
      <Image src={imgFlag} alt="idioma" width="20" height="20" />
   </a>
</div>

<style>
   .tab {
      position: absolute;
      z-index: 50;
      top: -5px;
      right: 40px;
      background: white;
      border-radius: 0 0 7px 7px;
      opacity: 0.8;
      transition: all 0.3s;
   }

   .tab a {
      /* display: block; */
      /* line-height: 1; */
      padding: 5px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #666;
   }

   .tab:hover {
      top: 0;
      opacity: 1;
      box-shadow: 0 2px 4px grey;
   }
   
</style>
