---
import ModalBooths from "../../components/ModalBooths.astro";
import ModalForm from "../../components/ModalForm.astro";
import ModalVideo from "../../components/ModalVideo.astro";
import BoothLayout from "../../layouts/BoothLayout.astro";
const booth = {
   image: "all-of-us.webp",
   btn1: "brochure.webp",
   btn2: "preguntas.webp",
   btn3: "obsequio.webp",
   btn4: "contacto.webp",
   btn5: null,
};
const wpuploads = import.meta.env.WP_UPLOADS;
---

<BoothLayout
   title="All of Us New England"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section banner-booth all-of-us">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />

                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger video"
                     data-target="modal-video"
                  >
                     <rect
                        x="120"
                        y="49"
                        fill="#fff"
                        opacity="0"
                        width="413"
                        height="266"></rect>
                  </a>

                  <!-- Brochure -->
                  <a
                     xlink:href={wpuploads + "/2024/06/Sp_AoUNE_AboutUs-3.pdf"}
                     target="_blank"
                     class="brochure"
                  >
                     <image
                        x="90"
                        y="575"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- FAQ -->
                  <a
                     xlink:href="https://www.joinallofus.org/es/faq"
                     target="_blank"
                     class="faq"
                  >
                     <image
                        x="310"
                        y="575"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Obsequio -->
                  <a
                     xlink:href={wpuploads +
                        "/2021/05/SP-AoUNE-Mental-Health-Resources-.pdf"}
                     target="_blank"
                     class="obsequio"
                  >
                     <image
                        x="90"
                        y="660"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger contacto"
                     data-target="modal-form"
                  >
                     <image
                        x="310"
                        y="660"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <!-- <a xlink:href="#contacto">
                     <rect
                        x="205"
                        y="716"
                        fill="#fff"
                        opacity="0"
                        width="164"
                        height="54"></rect>
                  </a> -->
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/" class="button is-light is-rounded is-outlined"
            >Volver a la Feria</a
         >
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="https://youtu.be/fEaXOjQ9JNY" />

   <ModalForm
      to="allofus@partners.org"
      subject="Booth All of Us - Nuevo contacto web"
   />
</BoothLayout>
