---
import ModalBooths from "../../components/ModalBooths.astro";
import ModalVideo from "../../components/ModalVideo.astro";
import BoothLayout from "../../layouts/BoothLayout.astro";
const booth = {
   image: "project-bread.webp",
   btn1: "brochure.webp",
   btn2: "empleos.webp",
   btn3: "recursos.webp",
   btn4: "contacto.webp",
   btn5: null,
};
const wpuploads = import.meta.env.WP_UPLOADS;
---

<BoothLayout title="Project Bread" description="Lorem ipsum dolor sit amet">
   <section class="section banner-booth">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />

                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger"
                     data-target="modal-video"
                  >
                     <rect
                        x="120"
                        y="49"
                        fill="#fff"
                        opacity="0"
                        width="413"
                        height="266"></rect>
                  </a>

                  <!-- Brochure -->
                  <a
                     xlink:href={wpuploads + "/2023/04/HotlineEspanol.pdf"}
                     target="_blank"
                  >
                     <image
                        x="90"
                        y="575"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- Empleos -->
                  <a
                     xlink:href="https://www.projectbread.org/careers"
                     target="_blank"
                  >
                     <image
                        x="310"
                        y="575"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Recursos -->
                  <a
                     xlink:href={wpuploads +
                        "/2022/08/Find-Local-Food-Resources_General_Spanish.pdf"}
                     target="_blank"
                  >
                     <image
                        x="90"
                        y="660"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>

                  <!-- Contacto -->
                  <a
                     xlink:href="https://www.projectbread.org/obtenga-ayuda"
                     target="_blank"
                  >
                     <image
                        x="310"
                        y="660"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <!-- <a xlink:href="#contacto">
                     <rect
                        x="205"
                        y="716"
                        fill="#fff"
                        opacity="0"
                        width="164"
                        height="54"></rect>
                  </a> -->
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/" class="button is-light is-rounded is-outlined"
            >Volver a la Feria</a
         >
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="CPIHERtx9eM" />

   <div id="obsequio" class="is-hidden">
      <p>
         !Lo sentimos! en este momento no tenemos Giveaway, sigue visitando
         nuestra mesa, !pronto tendremos sorpresas para ti!
      </p>
   </div>
</BoothLayout>
