---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import NavbarHome from "../components/NavbarHome.astro";
import Footer from "../components/Footer.astro";
const idioma = Astro.currentLocale;
const { title, description } = Astro.props;

// Supports weights 100-900
import "@fontsource-variable/dm-sans";
---

<html lang={idioma} data-theme="light">
   <head>
      <BaseHead title={title} description={description} />
      <ViewTransitions />
   </head>

   <body>
      <NavbarHome />
      <slot />
      <Footer />
      <script src="../js/main.js"></script>
   </body>
</html>
