---
import BaseHead from "../components/BaseHead.astro";
import NavbarHome from "../components/NavbarHome.astro";
import Footer from "../components/Footer.astro";
import FooterEN from "../components/FooterEN.astro";
import { Image } from "astro:assets";
import emb_header from "../images/emb-header.webp";


// Supports weights 100-900
import "@fontsource-variable/dm-sans";
import TabLang from "../components/TabLang.astro";
import BodyTop from "../components/BodyTop.astro";
import Snippets from "../components/Snippets.astro";


const idioma = Astro.currentLocale;

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang={idioma} data-theme="light">
  <head>
    <BaseHead title={title} description={description} />
    <Snippets />
  </head>

  <body>
    <BodyTop />
    <section class="section p-0 is-hidden-desktop">
      <Image src={emb_header} alt="El Mundo Boston" />
    </section>

    <NavbarHome />
    <slot />
    {idioma == "es" ? <Footer /> : <FooterEN />}
    <script src="../js/main.js"></script>
    <TabLang />
  </body>
</html>
