---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FooterEN from "../components/FooterEN.astro";
const idioma = Astro.currentLocale;
const { title, description } = Astro.props;

import "@fontsource-variable/dm-sans";
import TabLang from "../components/TabLang.astro";
import ModalPopup from "../components/ModalPopup.astro";
import BodyTop from "../components/BodyTop.astro";
import Snippets from "../components/Snippets.astro";
---

<html lang={idioma} data-theme="light">
   <head>
      <Snippets />
      <BaseHead title={title} description={description} />
      <ViewTransitions />
   </head>

   <body>
      <BodyTop/>
      <Header />
      <slot />
      {idioma == "es" ? <Footer /> : <FooterEN />}
      <script src="../js/main.js"></script>
      <ModalPopup />
      <TabLang />
   </body>
</html>
